body {
    background-image: url(../images/pink-flowers.webp);
}

/* 10 */
.wrapper {
    width: 89%;
    padding-top: 0;
    margin-left: 85px;
    margin-top: 0;
    margin-right: 85px;
    margin-bottom: 26px;
    background-color: #fff;
    flex-shrink: 0;
    border-top: 0;
    padding-left: 50px;
    padding-right: 52px;
}

/* 10 */
.header__heading {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 46px;
    color: #A11414;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* 10 */
.header__img-wrap {
    padding: 14px 13px;
    margin-bottom: 5%;
    border-radius: 2px;
    border: 1px solid #000;
    background: #FFF;
}

/* 11 */
.header__img-wrap img {
    width: 100%;
}

/* 10 */
.header__heading--spec--1 {
    color: #A11414;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

/* 10 */
.nav-wrap {
    width: 14%;
    float: right;
    font-family:Arial;
    padding-right:88px;
    padding-bottom:29px;
    padding-left:29px;
    padding-top:26px;
    border-radius: 2px 15px 2px 15px;
    background-color:rgba(215,215,215,1);
    box-sizing:border-box;
}

.nav-heading {
    width: 14%;
    font-family: Arial;
    font-size: 1rem;
    font-weight: 700;
    text-align: left;
    padding-bottom: 2%;
    text-transform: uppercase;
    margin-left: 29px;
    margin-bottom: 24px;
}

/* 11 */
.nav li {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 5px;
    /* padding: 5px; */

}

/* 11 */
.nav a {
    text-decoration: none;
    color: black;
}

/* 21 */
.nav a:hover {
    color: #A11414;
    text-decoration: underline;
}

/* 44 */
/* Окремий стиль для 1 та 2 посилання */
.nav li:nth-child(1) a,
.nav li:nth-child(2) a {
    font-family: Arial;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 29px;
    margin-right: 93px;
}

/* 33 */
.article__item--p1::first-letter,
.article__item--p2::first-letter,
.article__item--p4::first-letter {
    margin-left: 4%;
}

/* 40 */
.article__item--p1,
.article__item--p2,
.article__item--p3,
.article__item--p4 {
    font-family: 'Roboto', sans-serif;
    line-height: normal;
}

.article__item--p1,
.article__item--p2 {
    margin-top: 15px;
}

/* 22 */
/* Окремий стиль для 3 посилання */
.nav li:nth-child(3) a {
    font-family: Arial;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 89px;
    margin-left: 29px;
}

/* 20 */
.article__heading--1,
.article__heading--2 {
    color: #A11414;
    font-family: Roboto;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* 10 */
.article__heading--2 {
    font-family: Roboto;
    margin-top: 31px;
}

/* 10 */
.article__text--spec {
    color: #1D1B1B;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

/* 10 */
.article__text--mod {
    color: #A11414;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* 10 */
.article__text--add {
    color: black;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: line-through;
}

/* 10 */
.footer__item {
    position: relative;
    padding-bottom: 2%;
    margin-top: 35px;
}

/* 10 */
.footer__content {
    background-color: #FFF;
    position: absolute;
    top: 5%;
    left: 29%;
}

/* 10 */
.item--spec {
    color: #403636;
    font-size: 1rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

/* 10 */
.wrapper__footer {
    font-family: 'Roboto', sans-serif;
    color: #403636;
    font-size: 1rem;
    font-style: normal;
    line-height: normal;
}

/* 11 */
.wrapper__footer img {
    width: 79%;
}