@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* 1 */
body {
    background: #b4b4b4 url(../images/pink-flowers.webp);
    background-attachment: fixed;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 400;
    line-height: normal;
}

/* 10 */
.section--flx {
    display: flex;
    justify-content: space-between;
}

/* 10 */
.article__item {
    flex: 1;
}

/* 10 */
.nav-wrap {
    flex: 0;
}

/* 10 */
.wrapper {
    background-color: #fff;
    width: 89%;
    flex-shrink: 0;
    border-top: 0;
    margin-top: 0;
    margin-right: 6%;
    margin-bottom: 26px;
    margin-left: 6%;
    padding-top: 0;
    padding-left: 4%;
    padding-right: 4%;
}

/* 10 */
.header__heading {
    color: #A11414;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 96px;
    padding-bottom: 46px;

}

/* 10 */
.header__img-wrap {
    padding: 14px 13px;
    margin-bottom: 5%;
    border-radius: 2px;
    border: 1px solid #000;
    background: #FFF;
}

/* 11 */
.header__img-wrap img {
    width: 100%;
}

/* 10 */
.header__heading--spec {
    color: #A11414;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

/* 10 */
.nav__content {
    display: flex;
    justify-content: space-between;
    gap: 1%;
}


/* 10 */
.nav-wrap {
    width: 14%;
    float: right;
    font-family: Arial;
    border-radius: 2px 15px 2px 15px;
    background-color: rgba(215, 215, 215, 1);
    box-sizing: border-box;
}

/* 10 */
.nav-heading {
    width: 14%;
    font-family: Arial;
    font-size: 1rem;
    font-weight: 700;
    text-align: left;
    padding-bottom: 2%;
    margin: 26px 88px 24px 29px;
    text-transform: uppercase;
}

/* 11 */
.nav li {
    display: flex;
    justify-content: left;
    align-items: center;
}

/* 10 */
.nav__link {
    text-decoration: none;
    color: black;
}

/* 21 */
.nav__link:hover {
    color: #A11414;
    text-decoration: underline;
}

/* 60 */
.nav__item:nth-child(1),
.nav__item:nth-child(2),
.nav__item:nth-child(3) {
    font-family: Arial;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 55%;
    margin-left: 16%;
}

/* 22 */
/* Окремий стиль для 3 посилання */
.nav__item:nth-child(3) {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 29px;
}

/* 11 */
.article__item::first-letter {
    margin-left: 4%;
}

/* 10 */
.article__heading {
    color: #A11414;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 3%;
    margin-bottom: 15px;


}

/* 10 */
.article__text--spec {
    color: #1D1B1B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

/* 10 */
.article__text--mod {
    font-family: 'Roboto', sans-serif;
    color: #A11414;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* 10 */
.article__text--add {
    color: black;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: line-through;
}

/* 10 */
.footer__item {
    position: relative;
    padding-bottom: 2%;
    margin-top: 35px;
}

/* 10 */
.footer__content {
    background-color: #FFF;
    position: absolute;
    top: 5%;
    left: 29%;
}

/* 10 */
.item--spec {
    color: #403636;
    font-size: 1rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

/* 10 */
.wrapper__footer {
    color: #403636;
    font-size: 1rem;
    font-style: normal;
    line-height: normal;
}

/* 11 */
.wrapper__footer img {
    width: 79%;
}